.polarization-header {
  font-size: calc(20px);
  text-align: center;
  font-weight: bold;
}
.component-header {
  font-size: calc(16px);
  text-align: left;
}
.component-data {
  font-size: calc(13px);
  text-align: left;
  padding-top: 5px;    
  padding-left: 5px;  
  font-weight: bold;
}
.component-title  {
  font-size: calc(12px);
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
}
.table-title {
  font-size: calc(12px);
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
}
.table-data {
  font-size: calc(13px);
  text-align: center;
  padding-top: 5px;    
  padding-left: 5px;  
  font-weight: bold;
}
.component-input {
  height: 23px;
  text-align: left;
}
.custom-btn {
  height: auto;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
.custom-ind-btn {
  height: auto;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  color: white !important;
}
.custom-lock-btn {
  height: auto;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  width: 80px;
}
