.MuiAccordionSummary-root.Mui-expanded {
  margin-left: 0px !important;
  min-height: 28px !important;  
  height: 28px !important;
  padding: 0px !important;
}
.MuiAccordionSummary-root {
  margin-left: 0px !important;
}
.MuiAccordionDetails-root {
  padding: 0px !important;
}
.MuiButton-contained {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
.smallinput {
  height: 23px;
}
